* {
    box-sizing: border-box;
}
html, body, #app, #root, #content {
    height: 100%;
    width: 100%;
}
#app {
    background-color: #E5E5E5;
}
#content {
    display:flex;
    justify-content: center;
}